@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0px;
  padding: 0;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: linear-gradient(to right, #ffffff, #bceef8, #ffffff);
  /* background: url(https://png.pngtree.com/background/20211215/original/pngtree-abstract-light-blue-background-picture-image_1459673.jpg); */

}

.product-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 30px;
}

.images {
  width: 100%;
  max-height: 60%;
  border-radius: 8px;
  margin-top: 20px;
  /* background-color: #f1f6f7; */
}

.container {
  margin-top: 20px;
  width: 250px;
  height: 340px;
  text-align: center;
  border: 2px solid #b1adad;
  border-radius: 13px;
  box-shadow: 0 10px 7px rgba(1, 0, 0, 0.1);
  transition: background-color 0.3s ease;
  background-color: #ffffff;
  /* background-image: linear-gradient(to right, #bceef8, #ffffff); */
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;

}

.aboutStyle {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #ffffff;
  color: #333;
  max-width: 950px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 20px;
  box-shadow: 0 10px 7px rgba(1, 0, 0, 0.1);


}

p {
  font-size: 18px;
  line-height: 1.6;
  text-align: justify;
}





.fouter {
  background-color: #ffffff;
  justify-content: center;
  height: 80px;
  text-align: center;
  padding: 30px;
}

.fouterr {
  padding: 30px;
}


.transaction {
  background-color: rgb(42, 61, 165);
  border-radius: 70px;
  color: #f8f8f8;
  text-align: center;
  margin-left: 22px;
  margin-right: 14px;
  margin-top: 4px;
  position: relative;
  z-index: 2;
}


/* Edit Form Styles */
.edit-form {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* background-color: #dafbfd; */
  padding: 20px;
  /* border: 1px solid #c5b1b1; */
  box-shadow: 0 0 10px rgba(255, 254, 254, 0.1);
  font-size: 20px;
  border-radius: 15px;
  width: 470px;
  height: 520px;
  background-color: rgba(255, 255, 255, 0.9);
  /* Ubah nilai alpha (4th parameter) sesuai keinginan untuk transparansi */
  border: 1px solid #ccc;
  /* border-radius: 8px; */
  z-index: 1000
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Ubah nilai alpha sesuai keinginan */
  z-index: 999;
  /* Pastikan z-index lebih rendah dari popup */
  display: flex;
  align-items: center;
  justify-content: center;
}

.edit-form h1 {
  margin-top: 8px;
  font-size: 30px;
  margin-bottom: 10px;
  justify-content: center;
  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.edit-form input {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  margin: 2px;
  border: 1px solid #181717;
  border-radius: 4px;
  background-color: #ffffff;
  border-radius: 15px;

}

.edit-form button {
  background-color: #54def7;
  color: #0c0c0c;
  padding: 6px;
  margin-top: 50px;
  border: none;
  cursor: pointer;
  margin-left: 80px;
  width: 100px;
  border-radius: 6px;
  font-size: 20px;
  border: 1px solid #181717;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

}



.edit-form button:hover {
  background-color: #1092ca;
}

.carousel img {
  height: 645px;
  width: 100%;
  flex-wrap: wrap;


}

.right-8 {
  margin-left: auto;
}

.overlayy {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  /* height: 100%; */
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.edit-formm {
  background-image: linear-gradient(to right, #ffffff, #bceef8, #ffffff);
  border-radius: 15px;
  padding: 30px;
  height: 50vh;
  overflow-y: auto;
  width: 600px;

}

.edit-formm h1 {
  font-size: 35px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.popuppro {
  display: flex;
  align-items: center;
  border: 1px solid #434242;
  padding: 10px;
  margin: 5px;
}

.popuppro img {
  width: 70px;
  height: 70px;
  margin-right: 10px;
}

.popuppro span {
  flex-grow: 1;
}

/* -------- */
.title {
  color: #333;
  font-size: 24px;
  margin-bottom: 16px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.task-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  margin-bottom: 8px;
  border: 2px solid #000000;
  border-radius: 4px;
}

.checkbox-container {
  display: flex;
  align-items: center;
}

.checkbox-container input {
  margin-right: 8px;
  /* Add margin to the right of the checkbox */
}

.delete-button {
  background-color: #ff6363;
  color: #fff;
  border: none;
  padding: 8px;
  cursor: pointer;
}

.add-button {
  background-color: #50aebd;
  color: #fff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.add-button:hover,
.delete-button:hover {
  opacity: 0.8;
}

.completed {
  background-color: #b3d9ff;
  text-decoration: line-through;
  color: #555;
}

.text-overlay {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-size: 40px;
}

.button-container {
  margin-top: 10px;
}

.button-container button {
  margin-right: 5px;
  padding: 8px 12px;
  cursor: pointer;
  background-color: #4c9baf;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
}

.button-container button:hover {
  background-color: #7b8284;
}

.Account {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #98e1e9;
}

.Account h1 {
  font-size: 24px;
  color: #333;
}

.Account h2 {
  font-size: 18px;
  color: #555;
  margin-bottom: 10px;
}

.Account h2 a {
  color: #007bff;
  /* Warna biru, dapat disesuaikan */
  text-decoration: none;
}

.Account h2 a:hover {
  text-decoration: underline;
}